# Maven build output
/target/
**/target/
*.class

# Maven wrapper
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.classpath
.project
.factorypath
.settings/
.idea/
*.iml
*.ipr
*.iws
nbbuild/
dist/
build/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
